[submodule "sivusto/themes/ananke"]
	path = sivusto/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "sivusto/themes/whiteplain"]
	path = sivusto/themes/whiteplain
	url = https://github.com/taikii/whiteplain.git
